.caveiras {
    background-image: url("../src/caveiras.png");
    position: relative;
    top: -60px;
    height: 900px;
    flex-shrink: 0;
    text-shadow: 3px 3.95556px 3.95556px rgba(0, 0, 0, 0.7);
}

img {
    -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Padrão */

}

.logo{
    position: relative;
    top: 50px;
    display: block;
    margin: 0px auto;
    width: 300px;
    height: 300px;

}

.login {
    width: 515px;
    height: 576px;
    flex-shrink: 0;
    border-radius: 88px;
    background-color: #897362;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -170px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.bola_cinza {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129.18px;
    height: 134px;
    flex-shrink: 0;
    border-radius: 134px;
    background-color: #65605B;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.bola_cinza_menor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    width: 66px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 134px;
    background-color: #65605B;

}

.inputs {
    width: 432px;
    height: 81px;
    flex-shrink: 0;
    border-radius: 30px;
    background: white;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0px;
    outline: none;
}

.inputs span {
    border: 0px;
    outline: none;
}

.inputs:focus {
    border: 0px;
    outline: none;
    box-shadow: none;
}

.botao_login {
    width: 232px;
    height: 72px;
    flex-shrink: 0;
    color: #1E1E1E;
    background-color: rgba(217, 217, 217, 1);
    border: 0px;
    text-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    font-family: Spectral;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.botao_login:hover {
    border: solid 1px;
}
.botao_login:active {
    border: solid 2px;
    box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25);
}

.galeria {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    top: -300px;
    
}

.galeria div img {
    margin: 0px 9%;
    max-width: 93.33%;
}

.menu {
    color: #FFF9F1;
    display: flex;
    position: relative;
    top: -120px;
    justify-content: space-around;
}

.titulo {
    position: relative;
    left: 50%;
    top: -150px;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 444px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(84, 55, 43, 0.65);
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF9F1;
    text-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    font-family: Spectral;
    font-style: normal;
    line-height: normal;
}

.opcao {
    text-align: center;
    border-radius: 30px;
    background: #54372B;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    width: 252px;
    height: 406px;
    flex-shrink: 0;
    text-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Spectral;
    font-style: normal;
    line-height: normal;
}

.opcao div {
    position: relative;
    top: 30%;
}

.opcao:hover {
    border: solid 2px;
    background-color: #382319;
    cursor: pointer;
}

.opcao:active {
    border: solid 2px;
    background-color: #382319;
    cursor: pointer;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

#cafes-card {
    position: relative;
    top:17%;
}

#cafes-card img {
    position: relative;
    top: 25px;
}

.nossa-historia {
    width: 80%;
    display: flex;
    border-radius: 64px;
    background: #897362;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.nossa-historia div {
    position: relative;
    top: 50px;
}

.nossa-historia img {
    position: relative;
    top: -70px;
}

.nossa-historia p {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #1E1E1E;
    text-align: center;
    text-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    font-family: Spectral;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rodape {
    display: flex;
    background-image: url("../src/graosdecafe.png");
    height: 550px;
    position: relative;
    top: 200px;
    text-align: left;
}

.criadores {
    position: relative;
    left: 25%;
    width: auto;
    margin-left: 0px;
}

.rodape img {
    position: relative;
    top: -150px;
    left: 10%;
}

#grao1 {
    position: absolute;
    top: 650px;
}

#grao2 {
    position: absolute;
    top: 940px;
    right: 5%;
}
#grao3 {
    position: absolute;
    top: 1740px;
    left: 5%;
}
#grao4 {
    position: absolute;
    top: 2200px;
    right: 14%;
}
#grao5 {
    position: absolute;
    top: 2700px;
}
#grao6 {
    position: absolute;
    top: 3000px;
    right: 0%;
    width: 12%;
}
#grao7 {
    position: absolute;
    top: 2970px;
    right: 15%;
    width: 7%;
}